


.cards{

   
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    padding-block-start: 6rem;
    margin-top: 0rem;

}
.card{

    min-width: 300px;
    max-height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    aspect-ratio: 4/5 ;
    margin: 1em;
    box-shadow: rgba(61, 60, 60, 0.3) 0px 19px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card-text{
    text-align: justify;
}
.card-title{
    text-shadow: 1px 2px 1px rgb(224, 112, 112);
    font-weight: 700;
    text-transform: capitalize;
   
}
.col{
    flex: 1 0 50%;
   
}
.btn{
   
    display: block;
}
.btn button{
    padding: 5px 15px;
text-align: center;
    margin: auto;}
